@import "./constants.scss";

body,
html {
  margin: 0;
  padding: 0;
  background: $darkmode;
}

:any-link {
  all: initial;
  cursor: pointer;
  user-select: none;
  color: inherit;
}

.loader-screen {
  position: fixed;
  top: 0;
  left: 0;
  @include flex-center;
  width: 100%;
  height: 100%;
}

.text-flat {
  border-color: $main !important;
  border-right-color: transparent !important;
}
.btn-dark,
.btn-light {
  color: $lightmode !important;
  font-family: "Montserrat" !important;
  font-weight: bold !important;
  font-size: small !important;
}
.btn-light {
  color: $darkmode !important;
}

.badge {
  &.bg-flat {
    @include font(0.7rem, white);
    background-color: transparentize($error, 0.5);
  }
}
.badge-text {
  @include font(0.7rem, $error);
}

.dropdown-item {
  width: unset !important;
}

.dropdown-menu.show a {
  font-family: "Montserrat" !important;
  font-weight: bold !important;
  font-size: small !important;
  &:focus {
    background: $main;
  }
}

[data-bs-theme="dark"] .carousel .carousel-caption {
  color: white !important;
}
[data-bs-theme="dark"] .carousel .carousel-control-next-icon,
[data-bs-theme="dark"] .carousel .carousel-control-prev-icon {
  filter: none !important;
}
[data-bs-theme="dark"] .carousel .carousel-indicators [data-bs-target] {
  background-color: white !important;
}

.form-control:focus {
  box-shadow: none !important;
}
.offcanvas {
  display: block;
}
.no-results-title {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 20px;
}
