@import "./constants.scss";

.category-card {
  background-color: white;
  border: 3px solid transparent;
  // transition: 0.1s border-color ease-in-out;
  margin: $GAP 0;
  gap: $GAP * 3;
  @include flex-center;
  padding: 24px 40px;
  flex-direction: column;
  &:hover {
    box-shadow: -20px 24px 64px rgba(0, 0, 0, 0.15);
    .card-title {
      color: $main;
    }
  }
  .devider {
    height: 1px;
    width: 100%;
    background: transparentize($background, 0.85);
  }
  .main-card-content {
    @include flex-center;
    @include font(24px, $color-lm-font);
    justify-content: space-between;
    width: 100%;
    .details-title {
      color: $error;
      font-size: x-small;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 0.7rem 0;
    }
    .card-button {
      font-size: x-small;
      color: $main;
      text-transform: uppercase;
      padding: 1.5rem;
      transition: color 0.1s ease-in-out;
      &:hover {
        color: darken($main, 30);
      }
    }
    .card-content {
      &.details {
        width: 100%;
        @include flex-center;
        justify-content: space-between;
      }
      .card-stats {
        @include flex-center;
        gap: $GAP * 3;
        .predicted-event-spend {
          @include flex-center;
          align-items: flex-start;
          flex-direction: column;
          font-size: xx-small;
          color: transparentize($color-lm-font, 0.2);
          .predicted-event-spend-number {
            color: #ff2364;
            font-size: medium;
            &.black {
              color: inherit;
            }
          }
        }
        .card-stats-whells {
          @include flex-center;
          @include font(x-small, $color-lm-font);
          gap: $GAP;
          .card-whell {
            $size: 3rem;
            @include flex-center;
            flex-direction: column;
            background: $error;
            border-radius: 50%;
            width: $size;
            height: $size;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 90%;
              height: 90%;
              background: white;
              border-radius: 50%;
            }
            span {
              z-index: 2;
            }
            .card-whell-number {
              font-size: medium;
            }
          }
        }
      }
      .card-content-title {
        @include flex-center;
        justify-content: flex-start;
        margin: 0.8rem 0;
        .card-title {
          transition: color 0.1s ease-in-out;
        }
        .event-state {
          font-size: small;
          background-color: transparentize($main, 0.5);
          border-radius: 0.4rem;
          padding: 0.4rem 0.8rem;
          margin-left: $GAP;
          color: darken($main, 25);
        }
      }
      .formatted-addres {
        font-size: medium;
        color: lighten($color-lm-font, 15);
      }
      .time,
      .date {
        font-size: small;
        color: transparentize($color-lm-font, 0.3);
      }
      .date {
        color: transparentize($color-lm-font, 0.6);
      }
    }
    .tags,
    .labels {
      @include flex-center;
      gap: $GAP;
      .label {
        background: transparentize($color-lm-font, 0.9);
        text-transform: uppercase;
        padding: 0.4rem 0.8rem;
        font-size: x-small;
        border-radius: 20px;
      }
    }
  }
}
