// file only for constants and rules

// colors
$background: #0d1b2a;
$darkmode: #1c1e21;
$lightmode: #f1e6e6;
$main: #4a84f0;
$second: #cb8de9;
$color-dm-font: white;
$color-lm-font: #222;
$error: #ff2364;

// mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin font($size, $color) {
  font-size: $size;
  color: $color;
  font-family: "Montserrat";
  font-weight: bold;
}

// custom font
@font-face {
  font-family: "Montserrat";
  src: url("../assets/font/Montserrat-Regular.ttf");
}
$NAVBAR_HEIGHT: auto;
$GAP: 0.5rem;
