// file only for constants and rules

// colors
$background: #05062d;
$main: #4a84f0;
$second: #cb8de9;
$color-dm-font: white;
$color-lm-font: #222;

// mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin font($size, $color) {
  font-size: $size;
  color: $color;
  font-family: "Montserrat";
  font-weight: bold;
}

// custom font
@font-face {
  font-family: "Montserrat";
  src: url("../assets/font/Montserrat-Regular.ttf");
}
