@import "./constants.scss";

.section {
  .categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: $GAP;
    margin: $GAP 0;
    .category {
      @include flex-center;
      gap: $GAP;
      flex-direction: column;
      background: transparentize($main, 0.7);
      transition: background-color 0.3s ease-in-out;
      padding: 1rem;
      @include font(1.7rem, black);
      cursor: pointer;
      &:hover {
        background: transparentize($main, 0.3);
      }
      svg {
        width: 5vw;
        height: 5vw;
        fill: white;
        background: $main;
        padding: 1rem;
        border-radius: 50%;
      }
      .category-description {
        font-size: small;
      }
    }
    @for $i from 1 through 8 {
      & > a:nth-child(#{$i}) svg {
        background: adjust-hue($main, 5 * $i);
      }
    }
  }
}
