// file only for exporting variables to react

@import "./constants.scss";

:export {
  background: $background;
  main: $main;
  second: $second;
  color-lm-font: $color-lm-font;
  color-dm-font: $color-dm-font;
  error: $error;
}
