// file only for exporting variables to react

@import "./constants.scss";

:export {
  background: $background;
  main: $main;
  second: $second;
  lightmode: $lightmode;
  darkmode: $darkmode;
  error: $error;
}
